<footer class="footer navbar-fixed-bottom bg-dark pt-2">
    <div class="text-center">
        <p>&copy; Online eBook. All Rights Reserved.</p>
        <p>Follow Us On Our Social Medias</p>
    </div>

    <!-- Social Media Icons -->

    <div class='fixed_footer'>
        <div class="d-flex justify-content-center fs-1 mx-auto">
            <div>
                <a href="https://www.facebook.com" target="_blank">
                    <i class="fab fa-facebook-square p-3"></i>
                </a>
            </div>
    
            <div>
                <a href="https://www.instagram.com" target="_blank">
                    <i class="fab fa-instagram-square p-3"></i>
                </a>
            </div>
    
            <div>
                <a href="https://www.twitter.com" target="_blank">
                    <i class="fab fa-twitter-square p-3"></i>
                </a>
            </div>
    
            <div>
                <a href="https://www.tiktok.com" target="_blank">
                    <i class="fab fa-tiktok p-3"></i>
                </a>
            </div>
        </div>
    </div>
</footer>