{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Carousel -->
<div id="banner-home" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#banner-home" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#banner-home" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#banner-home" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/home_banner_reading_sofa.jpg' %}" alt="Girl reading book lying on sofa" class="d-block" style="width:100%">
            <div class="carousel-caption">
                <h3>Relax</h3>
                <p>eBook and chill</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/home_banner_library.jpg' %}" alt="Girl reading book in library" class="d-block" style="width:100%">
            <div class="carousel-caption">
                <h3>Explore</h3>
                <p>Browse our selection of eBooks</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/home_banner_under_sheet.jpg' %}" alt="Family reading story under the sheet" class="d-block" style="width:100%">
            <div class="carousel-caption">
                <h3>Fun</h3>
                <p>Enjoy a bedtime story with the kids</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#banner-home" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#banner-home" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

<section id="home-intro" class="text-center">
    <h1>eBook Store</h1>
    <p>
        Ebooks are great while flying all over the world! Ebooks are so easy to download onto your smartphone or tablet or laptop. Our Ebook website has a huge range of Ebooks of different genres such as Adventure, Science Fiction, Technology, Fairy Tale and Romance. There are lots of interesting and entertaining as well as educational Ebooks to choose from.    </p>
    <p>
    You can explore our great collection of books that are available at <a href="{% url 'store:all_books' %}">All Books</a>
    <br>
    Or Select a genre that interests you and browse our selection of books.
    </p>
</section>

<section class="row" id="explore">
    <div class="col-sm-12 col-md-6 explore-content">
        <h1>Explore our selection of eBooks</h1>
    </div>

    <div class="col-sm-12 col-md-6 explore-content">
        <h3 class="my_title">Browse by Genre</h3>
        <div class="explore-btn-container">
            {% for genre in links %}
            <div>
                <a href="{{ genre.get_absolute_url }}">
                    <button class="btn btn-default border-dark">{{ genre.name }}</button>
                </a>
            </div>
                
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}