{% extends "base.html" %}
{% load static %}
{% block metadescription %}
{% if genre %}
{{ genre.description|truncatewords:155 }}
{% else %}
Welcome to the ebook store where you can buy variety of awesome books.
{% endif %}
{% endblock %}
{% block title %}
{% if genre %}
{{ genre.name }} - Ebooks store
{% else %}
See our Ebooks here
{% endif %}
{% endblock %}
{% block content %}
<!--Breadcrumb navigation-->
{% if genre %}
    <div class="row my_row_class">
        <div class="mx-auto breadcrumb">
            <p>
                <a href="{% url 'store:all_books' %}">Our eBook Collection</a> / <b>{{ genre.name }}</b>
            </p>
        </div>
    </div>
{% endif %}
<!-- {% if genre %}
<div class="row my_row_class">
    <div class="mx-auto">
        {% comment %} <p><a href="{% url 'store:all_books' %}">Our book Collection</a> | {{genre.name}}</p> {% endcomment %}
    </div>
</div>
{% else %}
<div class="row my_row_class">
    <div class="mx-auto">
        {% comment %} <p><a href="{% url 'store:all_books' %}">Our book Collection</a></p> {% endcomment %}
    </div>
{% endif %} -->
<div class="mx-auto">
{% if genre %}
    <img class="my_image" src="{{genre.image.url}}" alt="{{genre.name}}">
    </div>
    <br>
    <div>
        <h1 class="text-center my_title">{{genre.name}}</h1>
        <p class="text-justify">{{genre.description}}</p>
    </div>
{% else %}
    {% comment %} <img class="my_image my_image_padding" src="{% static 'images/banner.jpg' %}" alt="Our books Collection"> {% endcomment %}
    </div>
    <br>
    <div>
        <h1 class="text-center my_title">Our books Collection</h1>
        <br>
        <br>
        <p class="text-center my_title">Browse All Ebooks </p>
        <br>
        <br>
    </div>
{% endif %}
<div class="container">
    <div class="row mx-auto">
        {% for book in ebooks %}
        <div class="my_bottom_margin col-9 col-lg-4 col-sm-12 col-md-4 mb-5 mx-auto">
            <div class="card text-center" aria-hidden="true" style="min-width:18rem;">
                 <a class="img" href="{{book.get_absolute_url}}"><img class="card-img-top"{% comment %}{% endcomment %}  src="{{book.image.url}}" alt="{{book.name}}"></a> 
                <div class="card-body">
                    <h4 class="my_title">{{book.name}}</h4>
                    <p>€{{book.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if prods.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in prods.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% 
                if books.number == pg %}active">
                {% comment %} {% endif %}"> {% endcomment %}
                {{pg}}
             </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}