{% extends 'base.html' %}
{% load static %}

{% block title %}
    Thank You! - eBook Store
{% endblock %}

{% block content %}
<div>
    <div class="text-center">
        <h1 class="text-center my_title my-5">
            Thank you for purchasing
        </h1>
        <p class="mb-5">
            Your order number is: <b>{{ customer_order.id }}</b>
        </p>
        <p>
            We have received your order and the order confirmation has been sent to <b>{{ user.email }}</b> for the eBook you purchased.
        </p>

        <p>Go to your purchased list now to view downloadable eBooks. Happy reading!</p>
        <a href="{% url 'order:order_history' %}">
            <button class="btn btn-success mb-5">View Order History</button>
        </a>
    </div>
</div>
{% endblock %}