/* General */
.my_title {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.form-control:focus {
    box-shadow: none;
    border-color: green;
}

/* Accounts app */
#login-img {
    width: 100%;
}

#signup-img {
    width: 100%;
}

#forgot-pass {
    padding-top: 10px;
}

#forgot-pass a {
    color: #000;
    text-decoration: none;
    margin-top: 10px;
}

#forgot-pass a:hover {
    text-decoration: underline;
}

/* Header */
header {
    background-color: #f3f6f4;
}

header a {
    text-decoration: none;
    color: #000;
}

header a:hover {
    color: #000;
}

#nav-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

header i {
    color: #000;
    font-size: 1.5rem;
}

header .input-group {
    width: 75%;
}

/* Navigation */
#collapsibleNavbar {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

nav ul, nav li {
    padding-left: .5rem;
    padding-right: .5rem
}

#nav-login {
    justify-content: end;
    margin-top: auto;
    margin-bottom: auto;
}

nav ul li {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 12px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 12px;
}

nav .dropdown-menu li {
    padding: 0;
}

/* Main */
#home-intro {
    margin-bottom: 2em;
    border-bottom: solid 1px;
}

#home-intro p:last-child {
    margin-bottom: 3em;
}

#explore {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

#explore h1, #home-intro h1 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: .75em;
    padding-bottom: .5em;
}

#explore .explore-content {
    width: 40%;
    margin: 1em 2em 1em 2em;
}

#explore .explore-content h3 {
    margin-top: .5em;
    margin-bottom: 1.5em;
}

#explore .explore-btn-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}

#explore .explore-btn-container button {
    padding: 1em 2em 1em 2em;
}

#explore .explore-content button:hover {
    background-color: #f3f6f4;
    text-decoration: underline;
}

#explore .explore-content a {
    text-decoration: none;
    color: #000;
}

/* Footer */
footer, footer i {
    color: #f3f6f4;
}

/* Media Query */
@media screen and (min-width: 800px) {
    nav #collapsibleNavbar {
        display: flex;
        justify-content: space-between;
    }

    #login-form {
        padding-left: 10em;
        margin-top: 5em;
    }

    #signup-form {
        margin-top: 5em;
    }

    #form-pass-change, #form-pass-reset, #pass-reset-done, #pass-reset-confirm, #pass-reset-complete, #user-profile, #edit-profile, #add-book {
        margin: auto;
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    #nav-main {
        justify-content: space-between;
    }

    #explore {
        text-align: center;
    }

    #explore .explore-content {
        width: 70%;
    }

    #explore .explore-btn-container button {
        width: 80%;
    }

    #explore .explore-btn-container {
        justify-content: center;
    }
}