{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block metadescription %}
    Sign in and enjoy the variety of eBooks available in our store.
{% endblock %}

{% block title %}
    Login - eBook Store
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1 class="my_title text-center">Login or Create a New Account</h1>
    <br>
    <div class="row">
        <div class="col-sm-12 col-lg-6 text-center mb-1">
            <br>
            <h2 class="my_title">Don't have an account? Sign up now!</h2>
            <br>
            <a href="{% url 'signup' %}" class="btn btn-success">Create New Account</a>
        </div>
        <div class="col-sm-12 col-lg-6 bg-light">
            <div>
                <br>
                <h2 class="my_title">Already have an account? Log in here</h2>
                <form method="POST">
                    {% csrf_token %}
                    <p>{{ form | crispy }}</p>
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
                <br>
            </div>
        </div>
    </div>
    <br>
</div>
<br>
{% endblock content %}