{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block metadescription %}
    Sign in and enjoy the variety of eBooks available in our store.
{% endblock %}

{% block title %}
    Login - eBook Store
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-7">
        <img src="{% static 'images/login_page_img.jpg' %}" alt="Tablet phone mouse keyboard chart" id="login-img">
    </div>

    <div class="col-sm-5" id="login-form">
        <div>
            <br>
            <h2 class="my_title">Login account</h2>
            <br>
            <form method="POST">
                {% csrf_token %}
                <p>{{ form | crispy }}</p>
                <button type="submit" class="btn btn-success">Login</button>&ensp;
                <a href="{% url 'signup' %}" class="btn btn-secondary">Sign Up</a>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock content %}