{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Password Reset Form
{% endblock title %}

{% block content %}
<div id="form-pass-reset">
    <br>
    <h1 class="my_title">Reset Your Password</h1>
    <p>Enter your user account's email address and we will send you a password reset link.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <br>
        <input class="btn btn-success" type="submit" value="Reset Password">
        <br><br>
    </form>
</div>
{% endblock content %}