{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Password Reset Form
{% endblock title %}

{% block content %}
<div id="form-pass-reset">
    <h1 class="my_title mt-5">Reset Your Password</h1>
    <p class="mb-4">Enter your user account's email address and we will send you a password reset link.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-success mb-5" type="submit" value="Reset Password">
    </form>
</div>
{% endblock content %}