{% extends 'base.html' %}
{% load static %}

{% block title %}
    Password Change Done
{% endblock %}

{% block content %}
<div>
    <div class="text-center">
        <br>
        <br>
        <h1 class="text-center my_title">
            Password changed!
        </h1>
        <br>
        <p>
            Your password has been changed successfully. Remember to keep your password safe.</b>
        </p>

        <a href="{% url 'home' %}">
            <button class="btn btn-success">Back to Home Page</button>
        </a>
    </div>
</div>
<br>
<br>
{% endblock %}