{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block metadescription %}
    Sign up to a new account. We have a variety of eBooks to read and enjoy.
{% endblock %}

{% block title %}
    Create a New Account - eBook Store
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4" id="signup-form">
        <div>
            {% if not form.is_valid %}
            <div>
                <h1 class="my_title">Create an account</h1>
                <div>
                    <p class="mb-4">Fill in the form to create a new account.</p>
                    <form method="POST">
                        <p>
                            {{ form | crispy }}
                            {% csrf_token %}
                        </p>
                        <button type="submit" class="btn btn-success">Register Account</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="col-sm-8">
        <img src="{% static 'images/signup_page_img.jpg' %}" alt="Ebook glasses coffee plant watch" id="signup-img">
    </div>
</div>
{% endblock content %}