{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    We have a variety of amazing eBooks available.
{% endblock %}

{% block title %}
    Advance Filter Search - eBook Store
{% endblock %}

{% block content %}
<div class="container">
    <h4 class="my_title text-center my-5">Advance Search Result</h4>
    <div class="row mx-auto">
        {% for query in queryset %}
            <div class="col-9 col-sm-12 col-md-4 col-lg-4 mb-5 mx-auto">
                <div class="card text-center">
                    <a href="{{ query.get_absolute_url }}">
                        <img class="card-img-top"
                            src="{{ query.image.url }}" alt="{{ query.name }}">
                        </a>
                    <div class="card-body">
                        <h4 class="my_title">{{ query.name }}</h4>
                        <p>€{{ query.price }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="row mx-auto">
                <p class="text-center mb-5">0 results found.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}