<header class="container-fluid">
    <div class="container" id="nav-main">
        <div>
            <a href="#">
                <h4>eBook</h4>
            </a>
        </div>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <button class="btn btn-success" type="submit">Go</button>
        </div>

        <div>
            <a href="#">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
    </div>
</header>